body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 100vw;
  height: 100vh;

  background-size: cover;
  background-position: center;
  background-image: url(./assets/home.png);
}

.list_ancients {
  display: flex;
  justify-content: space-around;
}

.ancient {
  width: 220px;
  height: 280px;

  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.ancient:hover {
  border: 3px solid #000;
  transform: scale(1.10);
}

.ancient.active {
  border: 2px solid red;
}

.Azathoth {
  background-image: url(./assets/Ancients/Azathoth.png);
}

.Cthulthu {
  background-image: url(./assets/Ancients/Cthulthu.png);
}

.LogSothoth {
  background-image: url(./assets/Ancients/LogSothoth.png);
}

.ShubNiggurath {
  background-image: url(./assets/Ancients//ShubNiggurath.png);
}

.list_levels {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.button_level {
  width: 11%;
  height: 35px;

  font-family: sans-serif;
  font-size: 20px;
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.button_level:hover {
  border: 2px solid red;
  transform: scale(1.10);
}

.button_level.active {
  color: red;
  border: 2px solid red;
}

.wrapper_button-create_card-deck {
  display: flex;
  justify-content: center;

  width: 100vw;
}

.button-create_card-deck {
  width: 15%;
  height: 45px;

  font-family: sans-serif;
  font-size: 22px;
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.button-create_card-deck:hover {
  color: red;
  border: 2px solid red;
  transform: scale(1.10);
}

.button-create_card-deck.inactive {
  display: none;
}

.wrapper_game {
  display: none;;
  justify-content: space-around;
  align-items: center;
}

.wrapper_game.active {
  display: flex;
}

.card-deck-diagram{
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #fff;
}

h2 {
  margin: 0;
  padding: 15px 0;
  text-align: center;
}

.dots_wrapper {
  display: flex;
  gap: 15px;
}

.dot {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  font-size: 20px;
  border-radius: 25%;
}

.green {
  background-color: green;
}

.brown {
  background-color: brown;
}

.blue {
  background-color: blue;
}

.cards {
  display: flex;
  gap: 70px;
}

.cards-deck,
.card {
  width: 150px;
  height: 210px;

  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transition: 0.5s;
}

.cards-deck {
  background-image: url(./assets/mythicCardBackground.png);
  cursor: pointer;
}

.cards-deck:hover {
  border: 2px solid #000;
  transform: scale(1.05);
}

.cards-deck.inactive {
  display: none;
}

.card.inactive {
  display: none;
}